.title {
    border-radius:10px;
}

#header
{
    width:40%;
    background-color: #C5C5A8;
    margin:auto;
    padding:10px;
    text-align:center;
    display:block;
}

#container {
    height:100%;
}

#container, #system_book_container
{
	width: 50%;
	background-color: #C5C5A8;
	margin: auto;
    padding:20px;
    display:block;
    border-radius:10px 10px 10px 10px;
}
body
{
	
}

#header a:hover
{
	background-color: green;
	font-style: italic;
}
#header a:link
{
	color: #80a680;
}
#header a:visited
{
	color: #80b571
}
h1
{
	padding: 25px;
	border: 3px solid green;
	background-color: #80a680;
	text-align: center;
}
#news
{
    border-radius:10px;
    float:left;
    display:block;
	margin:auto;
    padding:20px;
    text-align:center;
    height:100%;
    width:20%;
	background-color: #C5C5A8;
}
#news a:hover
{
	background-color: green;
}
#news a:link
{
	color: #80a680;
}
#news a:visited
{
	color: #80b571;
}

#books
{
    display:block;
    border-radius:10px;
    float:right;
    margin:auto;
    padding:20px;
    text-align:center;
    height:100%;
    width:20%;
	background-color: #C5C5A8;
}
#books a:hover
{
	background-color: green;
}
#books a:link
{
	color: #80a680;
}
#books a:visited
{
	color: #80b571;
}
#clock
{
	width: 40%;
    display:block;
	background-color: #C5C5A8;
	margin: auto;
    padding:10px;
    text-align:center;
}

#logo
{
	float: right;
}
th.style a:visited
{
	color: #80b571;
}
th.style a:link
{
	color: #80a680;
}
th.style a:hover
{
	background-color: green;
}

.book {
    display:block;
}

@media (max-width:1420px) {
    #news, #books {
        display:none;
    }
    #container {
        width:70%;
    }
}

